@{
    ViewData["Title"] = "Rooms";
}

<h1>Rooms in your hotel</h1>
<br />

<form>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Filter" />
        <label class="form-control-placeholder">Room number</label>
        <span class="fa fa-fw fa-lg fa-sort-alpha-up field-icon toggle-sort"></span>
    </div>
</form>
<hr />

<ul class="list-inline">
    <li class="list-inline-item"><a href="#" class="room-text">12</a></li>
    <li class="list-inline-item"><a href="#" class="room-text">13</a></li>
    <li class="list-inline-item"><a href="#" class="room-text">14</a></li>
    <li class="list-inline-item"><a href="#" class="room-text">15</a></li>
    <li class="list-inline-item"><a href="#" class="room-text">16</a></li>
    <li class="list-inline-item"><a href="#" class="room-text">17</a></li>
    <li class="list-inline-item"><a href="#" class="room-text">18</a></li>
    <li class="list-inline-item"><a href="#" class="room-text">19</a></li>
    <li class="list-inline-item"><a href="#" class="room-text">20</a></li>
    <li class="list-inline-item"><a href="#" class="room-text">21</a></li>
    <li class="list-inline-item"><a href="#" class="room-text">22</a></li>
    <li class="list-inline-item"><a href="#" class="room-text">23</a></li>
    <li class="list-inline-item"><a href="#" class="room-text">24</a></li>
    <li class="list-inline-item"><a href="#" class="room-text">25</a></li>
    <li class="list-inline-item"><a href="#" class="room-text">26</a></li>
    <li class="list-inline-item"><a href="#" class="room-text">27</a></li>
    <li class="list-inline-item"><a href="#" class="room-text">28</a></li>
    <li class="list-inline-item"><a href="#" class="room-text">29</a></li>
    <li class="list-inline-item"><a href="#" class="room-text">30</a></li>
    <li class="list-inline-item"><a href="#" class="room-text">31</a></li>
    <li class="list-inline-item"><a href="#" class="room-text">32</a></li>
    <li class="list-inline-item"><a href="#" class="room-text">33</a></li>
    <li class="list-inline-item"><a href="#" class="room-text">34</a></li>
    <li class="list-inline-item"><a href="#" class="room-text">35</a></li>
    <li class="list-inline-item"><a href="#" class="room-text">36</a></li>
    <li class="list-inline-item"><a href="#" class="room-text">37</a></li>
    <li class="list-inline-item"><a href="#" class="room-text">38</a></li>
    <li class="list-inline-item"><a href="#" class="room-text">39</a></li>
    <li class="list-inline-item"><a href="#" class="room-text">40</a></li>
    <li class="list-inline-item"><a href="#" class="room-text">41</a></li>
    <li class="list-inline-item"><a href="#" class="room-text">42</a></li>
    <li class="list-inline-item"><a href="#" class="room-text">43</a></li>
    <li class="list-inline-item"><a href="#" class="room-text">44</a></li>
    <li class="list-inline-item"><a href="#" class="room-text">45</a></li>
    <li class="list-inline-item"><a href="#" class="room-text">46</a></li>
    <li class="list-inline-item"><a href="#" class="room-text">47</a></li>
    <li class="list-inline-item"><a href="#" class="room-text">48</a></li>
    <li class="list-inline-item"><a href="#" class="room-text">49</a></li>
    <li class="list-inline-item"><a href="#" class="room-text">50</a></li>
    <li class="list-inline-item"><a href="#" class="room-text">51</a></li>
    <li class="list-inline-item"><a href="#" class="room-text">52</a></li>
    <li class="list-inline-item"><a href="#" class="room-text">53</a></li>
    <li class="list-inline-item"><a href="#" class="room-text">54</a></li>
    <li class="list-inline-item"><a href="#" class="room-text">55</a></li>
</ul>

@section Scripts {
<script type="text/javascript">
    $(".toggle-sort").click(function () {
        $(this).toggleClass("fa-sort-alpha-up fa-sort-alpha-down");
    });
</script>
}
