@{
    ViewData["Title"] = "Rooms";
}

<h1>Rooms in your hotel</h1>
<br />

<form>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Filter" />
        <label class="form-control-placeholder">Room number</label>
        <span class="fa fa-fw fa-lg fa-sort-alpha-up field-icon toggle-sort"></span>
    </div>
</form>
<hr />

<ul class="list-inline">
    <li class="list-inline-item"><button type="button" id="test" class="room-text btn btn-link" data-toggle="modal" data-target="#roomOffersModal" data-offers='[1, 2, 3, 4]'>12</button></li>
    <li class="list-inline-item"><button type="button" class="room-text btn btn-link">13</button></li>
    <li class="list-inline-item"><button type="button" class="room-text btn btn-link">14</button></li>
    <li class="list-inline-item"><button type="button" class="room-text btn btn-link">15</button></li>
</ul>
<hr />

<form>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Room number</span>
            </div>
            <input type="text" class="form-control" />
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary">Add new room</button>
            </div>
        </div>
    </div>
</form>

<!-- MODAL -->
<div class="modal fade" id="roomOffersModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Room</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <table class="table table-striped">
                    <tbody id="offersBody">
                        <!-- offers -->
                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger">
                    <span class="fa fa-trash"></span>
                    Delete this room
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(".toggle-sort").click(function () {
            $(this).toggleClass("fa-sort-alpha-up fa-sort-alpha-down");
        });


        $('#roomOffersModal').on('show.bs.modal', function (event) {
            var a = $(event.relatedTarget);
            var roomNr = a.text();
            var offerIDs = a.data('offers');
            var modal = $(this);
            var offersBody = modal.find('#offersBody');

            modal.find('.modal-title').text('Room ' + roomNr);

            // AJAX each offer and add table row inside #offersBody
            offerIDs.forEach(function (offerID, index) {

                $.ajax({
                    url: "/rooms/offerRowPartial",
                    data: offerID,
                    success: function (partial) {
                        offersBody.append(partial);
                    }
                });
            });
        });
    </script>
}
