@{
    ViewData["Title"] = "Limitless offer";
}

<h1>Limitless offer</h1>

<div>
    <img class="img rounded preview-img" src="~/img/rooms/room1.jpg" /> <!--src="data:image/png;base64,<base64-string>"-->

    <div>
        <small>Offer description description description description description description description description description description</small>
    </div>
</div>
<hr />

<div class="flex">
    <dl class="row dl-compact">
        <dt class="col-sm-3">Active</dt>
        <dd class="col-sm-9">Yes</dd>
        <dt class="col-sm-3">Adult</dt>
        <dd class="col-sm-9">65.00 PLN</dd>
        <dt class="col-sm-3">Child</dt>
        <dd class="col-sm-9">65.00 PLN</dd>
        <dt class="col-sm-3">Max guests</dt>
        <dd class="col-sm-9">2</dd>
    </dl>

    <dl class="row dl-compact">
        <dt class="col-sm-12 mb-2">Rooms</dt>
        <dd class="col-sm-auto">
            <ul class="list-inline">
                <li class="list-inline-item">13</li>
                <li class="list-inline-item">14</li>
            </ul>
        </dd>
    </dl>
</div>
<hr />

<div>
    <h2 class="heading-section">Photos</h2>

    <div class="row">
        <div class="col-sm-3">
            <a href="~/img/cats/cat1.jpg">
                <img class="img-thumbnail" src="~/img/cats/cat1.jpg">
            </a>
        </div>
        <div class="col-sm-3">
            <a href="~/img/cats/cat2.jpg">
                <img class="img-thumbnail" src="~/img/cats/cat2.jpg" />
            </a>
        </div>
        <div class="col-sm-3">
            <a href="~/img/cats/cat3.jpg">
                <img class="img-thumbnail" src="~/img/cats/cat3.jpg" />
            </a>
        </div>
        <div class="col-sm-3">
            <a href="~/img/cats/cat4.jpg">
                <img class="img-thumbnail" src="~/img/cats/cat4.jpg" />
            </a>
        </div>
        <div class="col-sm-3">
            <a href="~/img/cats/cat5.jpg">
                <img class="img-thumbnail" src="~/img/cats/cat5.jpg" />
            </a>
        </div>
    </div>
</div>
<hr />

<a class="btn btn-primary" asp-controller="offers" asp-action="edit">Edit offer</a>
