@{
    ViewData["Title"] = "Limitless offer";
}

<h1>Edit Limitless offer</h1>
<hr />

<form id="editForm">
    <div class="form-group">
        <input type="checkbox" checked />
        <label>Active</label>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Limitless offer" />
        <label class="form-control-placeholder">Title</label>
    </div>
    <hr /><br />

    <div class="form-group">
        <textarea class="form-control" rows="4" form="editForm">Offer description description description description description description description description description description</textarea>
        <label class="form-control-placeholder">Description</label>
    </div>
    <hr /><br />

    <div class="form-group">
        <input type="checkbox" />
        <label>Change picture</label>
        <input type="file" class="form-control" />
        <label class="form-control-placeholder">Preview picture</label>
    </div>
    <hr /><br />

    <div class="form-group">
        <input type="checkbox" />
        <label>Change pictures</label>
        <input type="file" multiple class="form-control" />
        <label class="form-control-placeholder">Offer pictures</label>
    </div>
    <hr />

        <label class="fcp">Rooms</label>
        <ul class="list-group" style="background: #f8f9fd">
            <!-- rooms -->
            <li class="list-group-item d-flex justify-content-between align-items-center">
                13
                <a href="#" class="ml-4" data-toggle="tooltip" title="Detach room from this offer" style="color: red;">
                    <span class="badge badge-pill">
                        <i class="fa fa-sm fa-unlink"></i>
                        Detach
                    </span>
                </a>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                14
                <a href="#" class="ml-4" data-toggle="tooltip" title="Detach room from this offer" style="color: red;">
                    <span class="badge badge-pill">
                        <i class="fa fa-sm fa-unlink"></i>
                        Detach
                    </span>
                </a>
            </li>
        </ul>

    <hr />

    <div class="form-group">
        <button class="btn btn-primary">Save</button>
    </div>
</form>
