@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>A mini hotel room booking service for the people by the people.</p>
</div>

<div class="container-fluid w-100">
    <div class="row w-100">
        <div class="col-lg-4">
            <h2>What is this?</h2>
            <p>Our developer team proudly presents a new hotel room booking service. We have partnerted with no influential companies whatsoever, but we have managed anyway. Our service works day and night to provide you an enjoyable experience with booking hotel room without any human contact!</p>
        </div>
        <div class="col-lg-4">
            <h2>What can I do with this?</h2>
            <p>Using our boking service you can browse through various mainstream and esoteric hotels, choose an offer that best suits your needs and book a room just for yourself or your family! Moreover, you can read reviews of other people under hotel offers to help you decide!</p>
        </div>
        <div class="col-lg-4">
            <h2>How can I get started?</h2>
            <p>If you want to get started... then you're out of luck... unless you already have an account! If so, then you only need to log in and you're set! Otheriwse, you need to contact the <i>MINI Hotel</i>&copy; server administrator in order to create a new account.</p>
        </div>
    </div>
</div>

<div class="w-100">
    <img src="~/resources/stock-photo-online-booking-concept.jpg" style="width: 100%; max-width: 500px; display: block; margin-left: auto; margin-right: auto; margin-top: 50px" />
</div>

