body {
    background-color: lightgray;
}

.col-flbox {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.col-flbox .col-flheader {
    flex: 0 1 auto;
}

.col-flbox .col-flcontent {
    flex: 1 1 auto;
    min-height: 0;
}

.col-flbox .col-flfooter {
    flex: 0 1 40px;
}

.row-flbox {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.row-flbox .row-flheader {
    flex: 0 1 auto;
}

.row-flbox .row-flcontent {
    flex: 1 1 auto;
}

.row-flbox .row-flfooter {
    flex: 0 1 40px;
}

.reservation-list {
    
}

.reservation-list-entry {
    border-top: 1px dashed gray;
}

.reservation-list-header-pending {
    background-color: rgba(0, 255, 0, 0.3);
}

.reservation-list-header-current {
    background-color: rgba(255, 0, 0, 0.3);
}

.reservation-list-header-finalized {
    background-color: rgba(0, 255, 255, 0.3);
}

.reservation-list-entry-pending {
    background-color: rgba(0, 255, 0, 0.1);
}

.reservation-list-entry-current {
    background-color: rgba(255, 0, 0, 0.1);
}

.reservation-list-entry-finalized {
    background-color: rgba(0, 255, 255, 0.1);
}

.reservation-list > .reservation-list-entry:last-child {
    border-bottom: 1px dashed gray;
}

.form-control.clientinfo-input-error:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
}