<div class="w-100 shadow-border bg-light p-4">
    <div class="text-center">
        <h1 class="display-5" style="font-weight: 400"><i>[Offer title]</i></h1>
    </div>
    <hr />
    <div class="mx-auto my-4 border-0 rounded picture-carousel-display shadow-border">
        <div class="d-flex flex-row h-100">
            <div class="flex-grow-0 h-100">
                <button class="btn btn-secondary h-100 rounded-right-0 p-0" style="width: 35px;"><i class="fas fa-2x fa-chevron-left"></i></button>
            </div>
            <div class="flex-grow-1 h-100 bg-light">
                <img class="d-block mx-auto carousel-picture" src="~/resources/stock-photo-online-booking-concept.jpg" />
            </div>
            <div class="flex-grow-0 h-100">
                <button class="btn btn-secondary h-100 rounded-left-0 p-0" style="width: 35px"><i class="fas fa-2x fa-chevron-right"></i></button>
            </div>
        </div>
    </div>
    <hr />
    <div class="text-center">
        <h1 class="font-weight-light">Offer description</h1>
    </div>
    <p class="m-0 px-4 mt-4 text-justify">
        [a long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long description]
    </p>
    <p class="flex-grow-1 mb-2 mt-3 text-align-center" style="font-size: 19px"><b>Max. number of guests: </b><span class="mx-2">4</span></p>
    <ul class="mt-2 p-0" style="list-style-type: none; font-size: 20px">
        <li class="m-2 text-align-center">
            <i class="fas fa-user-tie mx-2"></i>
            <span class="m-0"><span style="color: gray">Adults:</span><span class="mx-3">125 zł / adult</span></span>
        </li>
        <li class="m-2 text-align-center">
            <i class="fas fa-child mx-2"></i>
            <span class="m-0"><span style="color: gray">Children:</span><span class="mx-3">67 zł / child</span></span>
        </li>
    </ul>


    <hr class="my-3" />
    <button class="d-block mx-auto w-50 my-2 btn btn-success shadow-border font-weight-bold">Create reservation<i class="ml-2 fas fa-chevron-right"></i></button>
    <hr class="my-3" />
</div>