<div class="text-center">
    <h1 class="display-5" style="font-weight: 400"><i>[Hotel name]</i></h1>
</div>
<hr />
<div class="text-center">
    <h1 class="display-6">A little more about us</h1>
</div>
<p class="m-0 p-3 border rounded" style="background-color: #dee2e6">
    [a long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long hotel description]
</p>
<hr class="my-3"/>
<div class="text-center">
    <h1 class="display-6">Where can you find us?</h1>
</div>
<ul class="border rounded p-3 pl-5" style="font-size: 20px; background-color: #dee2e6" >
    <li><b>Country: </b><span>[Country name]</span></li>
    <li><b>City: </b><span>[city name]</span></li>
</ul>
<hr class="my-3" />
<button class="d-block mx-auto w-50 my-2 btn btn-info">Show offers<i class="ml-2 fas fa-chevron-right"></i></button>
<hr class="my-3" />
<div class="text-center">
    <h1 class="display-6">Gallery</h1>
</div>
<div class="mx-auto border-0 rounded picture-carousel-display">
    <div class="d-flex flex-row h-100">
        <div class="flex-grow-0 h-100">
            <button class="btn btn-secondary h-100 rounded-right-0" style="width: 50px;"><i class="fas fa-2x fa-chevron-left"></i></button>
        </div>
        <div class="flex-grow-1 h-100 bg-light">
            <img class="d-block mx-auto carousel-picture" src="~/resources/stock-photo-online-booking-concept.jpg" />
        </div>
        <div class="flex-grow-0 h-100">
            <button class="btn btn-secondary h-100 rounded-left-0" style="width: 50px"><i class="fas fa-2x fa-chevron-right"></i></button>
        </div>
    </div>
</div>
<hr class="my-3"/>