@{
    ViewData["Title"] = "Edit";
}

<h1>Edit your profile</h1>
<hr />
<br />

<form>
    <!-- Title -->
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Hotel name" value="Hotel's name" />
        <label class="form-control-placeholder">Name</label>
    </div>
    <hr /><br />

    <!-- Desc -->
    <div class="form-group">
        <textarea class="form-control" rows="4">Hotel's description description description description description description description description description description</textarea>
        <label class="form-control-placeholder">Description</label>
    </div>
    <hr /><br />

    <!-- Preview PIC -->
    <div class="form-group">
        <div class="custom-control custom-checkbox">
            <input type="checkbox" id="previewPicCheckbox" class="custom-control-input" />
            <label class="custom-control-label" for="previewPicCheckbox">Change preview picture</label>
        </div>
        <div class="form-row">
            <input id="previewFile" class="form-control col-sm-4" type="file" disabled />
            <label class="form-control-placeholder-file">Preview picture</label>
            <div id="previewGallery"></div>
        </div>
        <a href="~/img/dubai.jpg">Current picture</a>
    </div>
    <hr /><br />

    <!-- Additional PICS-->
    <div class="form-group">
        <div class="custom-control custom-checkbox">
            <input type="checkbox" id="additionalPicsCheckbox" class="custom-control-input" />
            <label class="custom-control-label" for="additionalPicsCheckbox">Change additional pictures</label>
        </div>
        <div class="form-row">
            <input id="additionalFiles" class="form-control col-sm-4" type="file" multiple disabled />
            <label class="form-control-placeholder-file">Additional pictures</label>
            <div id="additionalGallery"></div>
        </div>
    </div>
    <hr />

    <button type="submit" class="btn btn-success">Save</button>
</form>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var previewPicInput = document.getElementById('previewFile');
            var previewPicChckbox = document.getElementById('previewPicCheckbox');
            var previewGalleryDiv = document.getElementById('previewGallery');

            var additionalPicsInput = document.getElementById('additionalFiles');
            var additionalPicsChckbox = document.getElementById('additionalPicsCheckbox');
            var additionalGalleryDiv = document.getElementById('additionalGallery');

            var previewDivHtml = previewGalleryDiv.innerHTML;
            var additionalDivHtml = additionalGalleryDiv.innerHTML;

            previewPicChckbox.onclick = function () { switchEnabled(previewPicChckbox, previewPicInput, previewGalleryDiv, previewDivHtml); };
            previewPicInput.onchange = function () { previewGallery(previewPicInput, previewGalleryDiv); };
            additionalPicsChckbox.onclick = function () { switchEnabled(additionalPicsChckbox, additionalPicsInput, additionalGalleryDiv, additionalDivHtml); };
            additionalPicsInput.onchange = function () { previewGallery(additionalPicsInput, additionalGalleryDiv); };
        });
    </script>
}